body {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#project1img {
    width: 100px;
    height: 100px;
}
