* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

body {
    background-color: #1e1e2e;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 0.5rem 1.5rem;
    z-index: 1000;
    background-color: transparent;
}

header img {
    width: 38px;
    height: 38px;
    align-self: center;
}

#project1img {
    width: 100px;
    height: 100px;
}

section h2 {
    color: #cdd6f4;
}

section p {
    color: #cdd6f4;
}

.project1 {
    width: 300px;
    height: 300px;
    background-color: #585b70;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.project1 h3 {
    color: #cdd6f4;
    text-align: center;
}

.project1 p {
    color: #cdd6f4;
    text-align: center;
}

.project1 button {
    background-color: #7f849c;
    color: #cdd6f4;
    padding: 0.5rem 1.5rem;
    border-color: transparent;
    border-width: 3px;
    border-radius: 5rem;

}

.project1 button:hover {
    background-color: #cdd6f4;
    color: #7f849c;
}

.nav {
    display: flex;
    gap: 2rem;
}

li a {
    position: relative;
    color: #cdd6f4;
    font-weight: 300;
}

section {
    min-height: 50vh;
    padding: 5rem 10%;
    width: 100%;
    position: relative;
}

.section p {
    color: #cdd6f4;
}

.section h2 {
    color: #cdd6f4;
}

.projects_container h2 {
    margin-bottom: 0.5rem;
}

.projects_container p {
    margin-bottom: 1rem;
}

#github_btn {
    background-color: #7f849c;
    padding: 0.5rem 0.5rem;
    border-radius: 16rem;
    border-color: transparent;
}

#github_btn:hover {
    background-color: #b4befe;
}
